//====================================================================================================
.header {
	display: flex;
	flex-direction: column;
	&__logo {
		display: flex;
		justify-content: center;
	}
}
.menu {
	&__list {
		margin-top: rem(40);
		display: flex;
		@include adaptiveValue("gap", 40, 28);
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
	}
	&__link {
		font-family: 'Montserrat';
		font-style: normal;
		font-weight: 400;
		font-size: 11px;
		line-height: 14px;
		letter-spacing: 1.3px;
		text-transform: uppercase;
		color: #FFFFFF;
		position: relative;
		&::before{
			content:'';
			position: absolute;
			left: 0;
			bottom: -15px;
			width: 100%;
			height: 1.5px;
			background: rgba(255, 255, 256, 0.3);
			transform-origin: right;
			transform: scaleX(0);
			transition: transform .3s ease-in-out;
		}
		@media (any-hover: hover){
			&:hover{
				&::before{
					transform-origin: left;
  					transform: scaleX(1);
				}
			}
		}
	}
}
//====================================================================================================

//Burger

/* .icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
} */

